<!DOCTYPE html>
<html lang="en">
<title>Index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.centered {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 40px;
  color: rgba(10, 9, 9, 0.774);
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 40px;
  color: rgba(10, 9, 9, 0.774);
  transform: translate(-50%, -50%);
}
.right {
  position: absolute;
  top: 20%;
  left: 80%;
  font-size: 40px;
  color: rgba(10, 9, 9, 0.774);
  transform: translate(-50%, -50%);
}
.flt{
float: right;
font-size: x-large;
}

.flt2{
    float: left;
    font-size: x-large;
}

.flt3{

}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card" style="height: 55px;">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="flt2">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Dream Shopping</a>
    </div>
    <div class="flt">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More"> Login</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/login" class="w3-bar-item w3-button">User</a>
        <a href="/adminsignin" class="w3-bar-item w3-button">Admin</a>
        </div>
      </div>
      <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SignUp</a>

    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1000px;margin-top:46px">
  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <div class="container">
      
        <div class="centered">Mens<br> Collection</div>

    </div>
    <img src="\static\assets\images\banner-02.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <!-- <h3>Los Angeles</h3>
      <p><b>We had the best time playing at Venice Beach!</b></p>    -->
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <div class="container">
      
        <div class="centered1">Blind<br> Products Available</div>

    </div>
    <img src="static\assets\images\spec.jpg" style="width:100%" >
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <!-- <h3>New York</h3>
      <p><b>The atmosphere in New York is lorem ipsum.</b></p>     -->
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <div class="container">
      
        <div class="right">Womens<br> Collection</div>

    </div>
    <img src="static\assets\images\4th.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <!-- <h3>Chicago</h3>
      <p><b>Thank you, Chicago - A night we won't forget.</b></p>     -->
    </div>
  </div>

    <div class="mySlides w3-display-container w3-center">
    <div class="container">

        <div class="right">Home<br> Appliances</div>

    </div>
    <img src="\static\assets\images\hp.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <!-- <h3>Chicago</h3>
      <p><b>Thank you, Chicago - A night we won't forget.</b></p>     -->
    </div>
  </div>


  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" id="band">
    <h2 class="w3-wide">About Us</h2>
    <div>
        <img src="static\assets\images\sbp.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:100%;">
      </div>
      <p class="w3-opacity" style="font-size: large;"><i>Our Story</i></p>

    <p class="w3-justify" style="font-size: medium;">New technology and techniques are implemented in Ecommerce websites to visually present information due to significant growth in shopping worldwide. 
        But these techniques have accessibility problem for people with disabilities. 
        Hence, it is also important to develop ecommerce websites   which  will provide customer satisfaction of all ages with disabilities. 
        There are around 161 million people who are   visually  impaired   and around  36  million   are  blind.
        It is difficult   for  blind people to choose clothes with different colours hence find difficulty to do onlineshopping.   
        An ecommerce website is   developed   to   assist   blind   people   thatautomatically recognize clothing patterns and colours. 
        This system processes the voice output, and asks for the input by pressing the button of their desire choices.
        Which will help them to buy their desired products online? All kind of instructions will be provided to them in the form of audio, 
        they need to hear and follow the instructions.</p>
       
        <p class="w3-opacity" style="font-size: medium;"><i>Our Mission</i></p>
        <!-- <div class="w3-third">
            <img src="C:\Users\Monisha\Documents\html\Everyone-else.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:65%">
          </div> -->
    <p class="w3-justify" style="font-size: medium;">	Blind individuals are just like anyone else but they just can’t see. Is this case as simple in real life as in our minds, though? As one of Envision’s founders said , 
        we have built a world around us that serves the majority. That means that any individual different than the average,
         such as the visually impaired, faces difficulties because they’re not what is considered to be average. 
        This article aims to shed light upon the challenges the visually impaired face just by living life and being the odd ones out.</p>

        <p class="w3-justify" style="font-size: medium;"><b>	"Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while."</b></p>
    <p style="text-align: right;">- Steve Job’s</p>

    <!-- <div class="w3-row w3-padding-32">
      
      
      
    </div> -->
  </div>

  

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Bangalore, Karnataka<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9846210001<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: contact@thbs.com<br>
<!--        <form action="/Addappfeedback2">-->
          <button class="w3-button w3-black w3-section w3-left" onclick="location.href='/appfeedback';">Feedback</button>

<!--        </form>-->
      </div>
      <div class="w3-col m6">
        <form action="{{ url_for('contact') }}" method="POST">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" name="name" placeholder="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" name="email" placeholder="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" name="message" placeholder="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="\static\assets\images\map.jpg" class="w3-image w3-greyscale-min" style="width:100%">



<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
